{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="{% static 'main/css/style.css' %}" >
</head>
<body>
  <section id="loading-screen">
    <div id="loader"></div>
  </section>
  <div class="navbar">
    <div class="container">
      <nav>
        <div class="logo hover">
          <a href="{% url 'web-home' %}" class="word-1"><span clas="letter-1">T</span><span class="first">inamic</span></a>
          <a href="{% url 'web-home' %}" class="word-2"><span clas="letter-2">R</span><span class="second">imulator</span></a>
        </div>
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Pricing</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </nav>
    </div>
  </div>
  {% block content %} {% endblock content %}
</body>
</html>
