  console.log("asdasdasdasd")
  let result = document.getElementById("table-result")

  $('#event').submit(function(e){
      e.preventDefault();
      console.log("holaaaaaa")
      url = ''
      data = $(this).serialize()
      let dataGet = JSON.parse("{{data|escapejs}}")
      console.log(dataGet)
      $.post(url, data, function(response){
          const searchData = dataGet.dataSearch
          for (let i=0; i<searchData.Count.length; i++ )
          {
              result.innerHTML += `<tr>
 <td>${searchData["Count"][i]}</td>
 <td>${searchData["ActuatorLenInit"][i].toFixed(3)}</td>
 <td>${searchData["Stroke"][i].toFixed(3)}</td>
 <td>${searchData["Force[N]"][i].toFixed(2)}</td>
 <th>${searchData["A2X"][i].toFixed(3)}</td>
 <td>${searchData["A2Y"][i].toFixed(3)}</td>
 <td>${searchData["A1X"][i].toFixed(3)}</td>
 <th>${searchData["A1Y"][i].toFixed(3)}</td>
 <td>${searchData["ActuatorLenEnd"][i].toFixed(3)}</td>
 </tr>`
            }
        })
    })


