{% extends "main/base.html" %}
{% load static %}
{% block content %}
<section class="home">
  <div class="container">
    <div class="button">
      <button class="inputs-button" type="button">Inputs</button>
    </div>
    <div class="cform">
      <form class="form-inputs" id="event" method="post">
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="Submit" id="button-submit" onclick="sendFunc()">
      </form>   
      <div class="exit">
        <div class="line-1"></div>
        <div class="line-2"></div>
      </div>
    </div>
  </div>
  <div class="container-table">
    <table id="table-result">
      <thead> <tr>
          <th>Count</th>
          <th>ActuatorLenInit</th>
          <th>Stroke</th>
          <th>Force[N]</th>
          <th>A2X</th>
          <th>A2Y</th>
          <th>A1X</th>
          <th>A1Y</th>
          <th>ActuatorLenEnd</th>
        </tr> </thead>
    </table>
  </div>
  <p>{{ data }}</p>
</section>
<canvas class="webgl"></canvas>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.7.1/gsap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-beta1/jquery.min.js"></script>
<script src="{% static 'main/js/mobile.js' %}"></script>
<script>

  function sendFunc() {
      event.preventDefault()
      const sendBtn = document.getElementById("button-submit")
      console.log(sendBtn)
      let dataGet = JSON.parse("{{data|escapejs}}")
      console.log(dataGet)
  }

</script>
{% endblock content %}
