{% extends "main/base.html" %}
{% load static %}
{% block content %} 

<section class="list">
  <div class="container">
    <div class="add-profile">
        <a href="{% url 'web-create' %}">Add Profile</a>
    </div>
    <table>
      <thead> 
        <tr>
          <th>Profiles Inputs</th>
        </tr> 
      </thead>
      <tbody>
        {% for profile in actuatorProfile %}
        <tr>
          <td>{{ profile.title }}</td>
          <td><a href="{% url 'web-detail' profile.id %}">View</a></td>
        </tr>
        {% empty %}
        <tr>
          <td>No items. Please create one.</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
      
  </div>
</section>

{% endblock content %}
