{% extends "main/base.html" %}
{% load static %}
{% block content %}
<section class="home">
  <div class="container">
    <div class="button">
      <button class="inputs-button" type="button">Inputs</button>
    </div>
    <div class="cform">
      <form class="form-inputs" method="post">
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="Submit" class="button">
      </form>   
      <div class="exit">
        <div class="line-1"></div>
        <div class="line-2"></div>
      </div>
    </div>
  </div>
  <div class="container-table">
    <table id="table-result"></table>
  </div>
</section>
<canvas class="webgl"></canvas>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.7.1/gsap.min.js"></script>
<script src="{% static 'main/js/bundle.js' %}"></script>
<script src="{% static 'main/js/mobile.js' %}"></script>
<script>

  const submitBtn = document.querySelector(".home .container .cform .button")
  submitBtn.addEventListener('click', (event) => {
      event.preventDefault()
      let data = JSON.parse("{{data|escapejs}}")
      let result = document.getElementById("table-result")
      const searchData = data.dataSearch
      for (let i=0; i<data.dataSearch.Count.length; i++ )
      {
          result.innerHTML += `<tr>
          <th>${searchData.Count[i]}</th>
          <th>${searchData["Count"][i]}</th>
          <th>${searchData["ActuatorLenInit"][i]}</th>
          <th>${searchData["Stroke"][i]}</th>
          <th>${searchData["Force[N]"][i]}</th>
          <th>${searchData["A2X"][i]}</th>
          <th>${searchData["A2Y"][i]}</th>
          <th>${searchData["A1X"][i]}</th>
          <th>${searchData["A1Y"][i]}</th>
          <th>${searchData["ActuatorLenEnd"][i]}</th>
          </tr>`
      }

    })


</script>
{% endblock content %}
