@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.adobe.com/fonts/freight-text");
*, *::after, *::before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -ms-overflow-style: none;
  scrollbar-width: none;
  color: white;
}

body {
  overflow-y: hidden;
}

::-webkit-scrollbar {
  display: none;
}

::-moz-selection {
  background: grey;
}

::selection {
  background: grey;
}

.webgl {
  position: fixed;
  top: 0;
  left: 0;
  outline: none;
  z-index: -999;
}

a {
  text-decoration: none;
  padding: 0;
  margin: 0;
  color: white;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#loading-screen {
  position: absolute;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000000;
  opacity: 1;
  -webkit-transition: 1s opacity;
  transition: 1s opacity;
}

#loading-screen.fade-out {
  opacity: 0;
  display: none;
}

#loader {
  display: block;
  position: relative;
  left: 45%;
  top: 50%;
  width: 0;
  height: 3px;
  background-color: white;
}

/* Loading Screen */
#loading-screen {
  position: absolute;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000000;
  opacity: 1;
  -webkit-transition: 1s opacity;
  transition: 1s opacity;
}

#loading-screen.fade-out {
  opacity: 0;
  display: none;
}

#loader {
  display: block;
  position: relative;
  left: 45%;
  top: 50%;
  width: 2em;
  height: 3px;
  background-color: white;
  -webkit-animation: infinityAnim 1.5s infinite alternate-reverse;
  animation: infinityAnim 1.5s infinite alternate-reverse;
}

@-webkit-keyframes infinityAnim {
  0% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(40px, 0);
    transform: translate(40px, 0);
  }
}

@keyframes infinityAnim {
  0% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(40px, 0);
    transform: translate(40px, 0);
  }
}

@media only screen and (min-width: 850px) {
  #loader {
    left: 49%;
  }
}

.panel {
  position: fixed;
  z-index: -800;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  margin: auto;
  content: " ";
  background-color: #00000000;
  width: 95%;
  height: 95%;
  -webkit-backdrop-filter: blur(1px);
          backdrop-filter: blur(1px);
  border-radius: 1em;
}

/* STYLE WEB PAGE */
.navbar .container {
  margin-left: auto;
  margin-right: auto;
}

.navbar nav {
  margin: 2.5em 5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navbar nav .logo {
  width: 2.2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navbar nav .logo a {
  font-size: 1.5em;
  color: white;
  width: .7em;
  -webkit-transition: width .5s;
  transition: width .5s;
}

.navbar nav .logo a .first, .navbar nav .logo a .second {
  font-size: 0.7em;
  opacity: 0;
  -webkit-transition: opacity .5s;
  transition: opacity .5s;
  color: white;
}

.navbar nav .logo:hover .word-1 {
  width: 3.3em;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.navbar nav .logo:hover .word-1 .first {
  opacity: 1;
  -webkit-transition: opacity .5s ease-out;
  transition: opacity .5s ease-out;
  -webkit-transition-delay: .3s;
          transition-delay: .3s;
  pointer-events: none;
}

.navbar nav .logo:hover .word-2 {
  width: 2em;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

.navbar nav .logo:hover .word-2 .second {
  opacity: 1;
  pointer-events: none;
  -webkit-transition: opacity .3s ease-out;
  transition: opacity .3s ease-out;
  -webkit-transition-delay: .3s;
          transition-delay: .3s;
}

.navbar nav ul {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto)[4];
      grid-template-columns: repeat(4, auto);
  -webkit-column-gap: 1em;
          column-gap: 1em;
}

.navbar nav ul a {
  color: white;
  -webkit-transition: color 0.7s;
  transition: color 0.7s;
}

.navbar nav ul a:hover {
  color: #979797;
}

.home {
  width: 100vw;
  height: 100vh;
}

.home .container {
  margin: 0 auto;
  width: 90%;
}

.home .container form {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1;
      grid-template-columns: 1;
}

.home .container form input[type=text], .home .container form input[type=number] {
  width: 10%;
  height: 0.5em;
  padding: 12px 20px;
  margin: 8px 1em;
  border: none;
  border-bottom: 2px solid;
  border-color: white;
  -webkit-transition: 1s border-color;
  transition: 1s border-color;
  background-color: rgba(255, 255, 255, 0);
  color: white;
  text-align: center;
}

.home .container form input[type=text]:focus, .home .container form input[type=number]:focus {
  outline: none;
  border-color: #555555;
  -webkit-transition: 1s border-color;
  transition: 1s border-color;
  -webkit-box-shadow: none;
          box-shadow: none;
  text-align: center;
  color: white;
}

.home .container form input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.home .container form input[type=submit] {
  display: block;
  margin: 2em auto;
  color: white;
  transition: background-color 2s;
  -webkit-transition: background-color 2s;
  background-color: #202020;
  border: none;
  width: 5em;
  height: 3em;
  cursor: pointer;
}

.home .container form input[type=submit]:hover {
  -webkit-transition: background-color 2s;
  transition: background-color 2s;
  background-color: rgba(53, 53, 53, 0);
}

.home .container .simulator {
  margin: 5em auto;
  width: 50%;
  height: 50%;
}

@media only screen and (min-width: 1800px) {
  .navbar .container {
    width: 80%;
  }
}
/*# sourceMappingURL=style.css.map */