@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.adobe.com/fonts/freight-text");
*, *::after, *::before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -ms-overflow-style: none;
  scrollbar-width: none;
  color: white;
}

body {
  background: black;
}

::-webkit-scrollbar {
  display: none;
}

::-moz-selection {
  background: grey;
}

::selection {
  background: grey;
}

.webgl {
  position: fixed;
  top: 0;
  left: 0;
  outline: none;
  z-index: -999;
}

a {
  text-decoration: none;
  padding: 0;
  margin: 0;
  color: white;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Navbar */
.navbar .container {
  display: flex;
  justify-content: start;
}
.navbar .container h1 {
  margin-left: 7vw;
}

#icon-1 {
  position: fixed;
  bottom: 2em;
  right: 2em;
}

#icon-2 {
  position: fixed;
  bottom: 2em;
  right: 4em;
}

/* Button inputs mobile */
.button button {
  position: fixed;
  top: 8em;
  left: 0em;
  margin: 2em auto;
  color: white;
  font-weight: bold;
  transition: background-color 1s, color 1s;
  -webkit-transition: background-color 1s, color 1s;
  background-color: #141414;
  border: none;
  border-radius: 0 0.5em 0.5em 0;
  width: 7em;
  height: 3.5em;
  cursor: pointer;
}
.button button:hover {
  background-color: white;
  color: black;
  transition: background-color 1s, color 1.5s;
  -webkit-transition: background-color 1s, color 1.5s;
}

.home .button-none {
  display: none;
}

form {
  display: none;
}

/* Form */
.home .container .cform {
  position: fixed;
  width: 23em;
  height: 84vh;
  background: #141414;
  border-radius: 0 0.5em 0.5em 0;
  left: -30em;
}
.home .container .cform .form-inputs {
  margin: 1.5em 2em;
  width: 8em;
  display: grid;
  grid-template-columns: 1;
}

.home .form-inputs {
  display: grid;
  grid-template-columns: repeat(2, 7em);
  grid-auto-flow: column;
  grid-template-rows: repeat(11, 2em);
  column-gap: 20px;
  row-gap: 1em;
}
.home .form-inputs input[type=number], .home .form-inputs input[type=text] {
  width: 100%;
  height: 3em;
  padding: 1em 3em;
  margin: 1em;
  border: none;
  border-radius: 0.5em;
  border-color: white;
  background-color: rgba(255, 255, 255, 0.9);
  color: black;
  text-align: center;
  -webkit-transition: 1s border-color, 1s background-color;
  transition: 1s border-color, 1s background-color;
}
.home .form-inputs input[type=number]:focus, .home .form-inputs input[type=text]:focus {
  background-color: rgba(87, 86, 86, 0.8);
  box-shadow: none;
  border: none;
  outline: none;
  text-align: center;
  color: white;
  border-color: black;
  -webkit-transition: 1s border-color, 1s background-color;
  transition: 1s border-color, 1s background-color;
}
.home .form-inputs input[type=number]::placeholder, .home .form-inputs input[type=text]::placeholder {
  -webkit-transition: 0.7s color;
  transition: 0.7s color;
}
.home .form-inputs input[type=number]:hover::placeholder, .home .form-inputs input[type=text]:hover::placeholder {
  color: white;
}
.home .form-inputs label {
  width: 8em;
  display: none;
}
.home .form-inputs input[type=number]::-webkit-inner-spin-button,
.home .form-inputs input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.home .form-inputs input[type=submit] {
  position: absolute;
  bottom: 0;
  left: 15em;
  display: block;
  margin: 2em auto;
  color: black;
  font-weight: bold;
  border-radius: 0.5em;
  transition: background-color 1s, color 1s;
  -webkit-transition: background-color 1s, color 1s;
  background-color: white;
  border: none;
  width: 7em;
  height: 3.5em;
  cursor: pointer;
}
.home .form-inputs input[type=submit]:hover {
  background-color: black;
  color: white;
  transition: background-color 1s, color 1.5s;
  -webkit-transition: background-color 1s, color 1.5s;
}

/* Result */
.home .container-table {
  display: flex;
  align-items: start;
  justify-content: center;
  margin-top: 1em;
  top: 7em;
  left: 42em;
  height: 75vh;
  z-index: 0;
  overflow: auto;
}
.home .container-table #table-result {
  font-family: sans-serif;
  border-collapse: collapse;
  width: 87%;
  font-size: 0.7em;
  margin: 0 0 25px;
  min-width: 100px;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.home .container-table #table-result thead tr {
  background-color: orange;
  text-align: center;
  font-weight: bold;
}
.home .container-table #table-result thead tr th {
  color: black;
}
.home .container-table #table-result th, .home .container-table #table-result td {
  padding: 12px 1px;
  text-align: center;
}
.home .container-table #table-result tbody tr:nth-of-type(even) {
  background-color: black;
}
.home .container-table #table-result tbody tr:last-of-type {
  border-bottom: 2px solid orange;
}

.home::before {
  content: "";
  position: absolute;
  top: 10vh;
  right: 5vw;
  width: 90vw;
  height: 80vh;
  z-index: -800;
  border-radius: 1em;
  background-color: #141414;
}

/* Exit button */
.home .container .exit {
  position: absolute;
  top: 0.8em;
  right: 0.3em;
  width: 1.8em;
  height: 2em;
}
.home .container .exit .line-1 {
  position: absolute;
  top: 0.8em;
  right: 0.3em;
  width: 2em;
  height: 0.2em;
  transform: rotate(-45deg);
  background-color: white;
  transition: 1s transform;
}
.home .container .exit:hover .line-1 {
  transition: 1s transform;
  transform: rotate(-20deg);
}
.home .container .exit .line-2 {
  position: absolute;
  top: 0.8em;
  right: 0.3em;
  width: 2em;
  height: 0.2em;
  transform: rotate(45deg);
  background-color: white;
  transition: 1s transform;
}
.home .container .exit:hover .line-2 {
  transition: 1s transform;
  transform: rotate(20deg);
}

/* Tabs style */
.ui-results .container-tabs {
  position: fixed;
  display: grid;
  grid-template-columns: repeat(4, 4.5em);
  grid-template-rows: 2em;
  row-gap: 0.5em;
  top: 6.5vh;
  left: 35vw;
}
.ui-results .container-tabs button {
  margin: 0 auto;
  color: white;
  font-weight: bold;
  transition: background-color 1s, color 1s;
  -webkit-transition: background-color 1s, color 1s;
  background-color: #141414;
  border: none;
  border-radius: 0.5em 0.5em 0 0;
  width: 6em;
  height: 3em;
  cursor: pointer;
  font-size: 0.7em;
}
.ui-results .container-tabs button:hover {
  background-color: white;
  color: black;
  transition: background-color 1s, color 1.5s;
  -webkit-transition: background-color 1s, color 1.5s;
}

@media only screen and (min-width: 1200px) {
  body {
    overflow-y: hidden;
  }

  .home .button {
    display: none;
  }

  .home {
    display: grid;
    grid-template-columns: 30vw 70vw;
    width: 100vw;
    height: 100vh;
  }
  .home .container {
    display: grid;
    justify-content: center;
    margin: 0 auto;
    width: 100%;
  }
  .home .container .cform {
    position: static;
    margin-left: -4em;
    left: 0em;
    background-color: unset;
  }
  .home .container .exit {
    display: none;
  }
  .home .container .form-inputs {
    display: grid;
    grid-template-columns: repeat(2, 10em);
    grid-template-rows: repeat(11, 2em);
    column-gap: 20px;
    width: 10em;
  }
  .home .container .form-inputs input[type=number], .home .container .form-inputs input[type=text] {
    border-color: white;
    background-color: rgba(20, 20, 20, 0.8);
    color: white;
  }
  .home .container .form-inputs input[type=number]:focus, .home .container .form-inputs input[type=text]:focus {
    background-color: rgba(87, 86, 86, 0.8);
    border-color: black;
  }
  .home .container .form-inputs input[type=submit] {
    bottom: 5.4em;
    left: 23.2em;
    margin: 2em auto;
    color: black;
    background-color: white;
    width: 7em;
    height: 3.5em;
  }
  .home .container .form-inputs input[type=submit]:hover {
    background-color: black;
    color: white;
  }

  .home .container-table {
    display: grid;
    justify-content: center;
    margin-top: 2em;
  }
  .home .container-table #table-result {
    width: 60vw;
    font-size: 0.9em;
  }
  .home .container-table #table-result th, .home .container-table #table-result td {
    padding: 12px 15px;
  }

  .home::before {
    width: 65vw;
    right: 2em;
  }

  .ui-results .container-tabs {
    grid-template-columns: repeat(4, 5em);
    grid-gap: 0.2em;
    top: 5.2vh;
    left: 35vw;
    font-size: 1.2em;
  }
  .ui-results .container-tabs button {
    width: 7em;
    height: 3.5em;
  }
}
/* Temporary style */
.ui-results .container-table {
  display: none;
  padding-top: 3em;
  margin: auto;
  width: 75em;
  height: 45em;
}
.ui-results .container-mapGraph {
  display: none;
  padding-top: 3em;
  margin: auto;
  width: 75em;
  height: 45em;
}
.ui-results .container-efficiency {
  display: none;
  padding-top: 3em;
  margin: auto;
  width: 75em;
  height: 45em;
}
.ui-results .container-load {
  display: none;
  padding-top: 3em;
  margin: auto;
  width: 75em;
  height: 45em;
}
.ui-results .show {
  display: flex;
}

/*# sourceMappingURL=style.css.map */
