/* Login */
@use "components/login";

/* Register */
@use "components/register";

/* List */
@use "components/list";

/* Detail */
@use "components/detail";

/* Create */
@use "components/create";

/* Delete */
@use "components/delete";

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.adobe.com/fonts/freight-text");

$background-color: black;
$secundary-color: rgb(20, 20, 20);
$table-color-one: orange;

*, *::after, *::before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -ms-overflow-style: none;
  scrollbar-width: none;
  color: white;
}

body {
  overflow-y: hidden;
  background: $background-color;
  padding: 0;
  margin: 0;
}

::-webkit-scrollbar {
  display: none;
}

::-moz-selection {
  background: grey;
}

::selection {
  background: grey;
}

.webgl
{
  position: fixed;
  top: 0;
  left: 0;
  outline: none;
  z-index: -999;
}

a {
  text-decoration: none;
  padding: 0;
  margin: 0;
  color: white;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Navbar */

.navbar .container {
  display: flex;
  justify-content: start;
  margin-bottom: 1em;

  h1 {
    margin-left: 7vw;
  }

}

#icon-1 {
  position: fixed;
  bottom: 2em;
  right: 2em;
}

#icon-2 {
  position: fixed;
  bottom: 2em;
  right: 4em;
}

#login-btn {
  position: fixed;
  top: 1.8em;
  right: 5em;
  padding: 0.7em 1em;
  border-radius: 0.2em;
  font-weight: bold;
  background: #FFA500;
  color: black;
  transition: background 0.5s;
  &:hover {
    transition: background 0.5s;
    background: #ff9500;
  }
}

#register-btn {
  position: fixed;
  top: 1.8em;
  right: 12em;
  padding: 0.7em 1em;
  border-radius: 0.2em;
  font-weight: bold;
  background: #FFA500;
  color: black;
  transition: background 0.5s;
  &:hover {
    transition: background 0.5s;
    background: #ff9500;
  }
}

#user-name {
  position: fixed;
  top: 1em;
  right: 10em;
  font-weight: bold;
  font-size: 1.2em;

}

/* Button inputs mobile */
.button button {
  position: fixed;
  top: 8em;
  left: 0em;
  margin: 2em auto;
  color: white;
  font-weight: bold;
  transition: background-color 1s, color 1s;
  -webkit-transition: background-color 1s, color 1s;
  background-color: $secundary-color;
  border: none;
  border-radius: 0 0.5em 0.5em 0;
  width: 7em;
  height: 3.5em;
  cursor: pointer;
  &:hover {
    background-color: white;
    color: $background-color;
    transition: background-color 1s, color 1.5s;
    -webkit-transition: background-color 1s, color 1.5s;
  }

}  

.home .button-none {
  display: none;
}

/* Form */
.home {
  display: grid;
  align-items: start;
  justify-content: center;
}

.home .container .cform{
  position: fixed;
  width: 23em;
  height: 84vh;
  background: $secundary-color;
  border-radius: 0 0.5em 0.5em 0;
  top: 4em;
  left: -30em;
  z-index: 999;
  .form-inputs{
    margin: 1.5em 2em;
    width: 8em;
    display: grid;
    grid-template-columns: 1;
  }
}

.home {
  .form-inputs {
    display: grid; 
    grid-template-columns: repeat(2, 7em);
    grid-auto-flow: column;
    grid-template-rows: repeat(10, 2em);
    column-gap: 20px;
    row-gap: 1em;
      input[type=number], input[type=text] {
        width: 100%;
        height: 3em;
        padding: 1em 3em;
        margin: 1em;
        border: none;
        border-radius: 0.5em;
        border-color: white; 
        background-color: rgba(255, 255, 255, 0.9);
        color: $background-color;
        text-align: center;
        -webkit-transition: 1s border-color, 1s background-color;
        transition: 1s border-color, 1s background-color;
        &:focus {
          background-color: rgba(87, 86, 86, 0.8);
          box-shadow: none;
          border: none;
          outline: none;
          text-align: center;
          color: white;
          border-color: $background-color;
          -webkit-transition: 1s border-color, 1s background-color;
          transition: 1s border-color, 1s background-color;
        }
        &::placeholder {
          -webkit-transition: 0.7s color;
          transition: 0.7s color;
        }
        &:hover::placeholder {
          color: white;
        }
      }
      label {
        width: 8em;
        display: none;
      }
      input[type=number]::-webkit-inner-spin-button,
      input[type=number]::-webkit-outer-spin-button
      {
        -webkit-appearance: none;
        margin: 0;
      }
      input[type=submit] {
        position: absolute;
        bottom: 0;
        left: 15em;
        display: block;
        margin: 2em auto;
        color: $background-color;
        font-weight: bold;
        border-radius: 0.5em;
        transition: background-color 1s, color 1s;
        -webkit-transition: background-color 1s, color 1s;
        background-color: white;
        border: none;
        width: 7em;
        height: 3.5em;
        cursor: pointer;
        &:hover {
          background-color: $background-color;
          color: white;
          transition: background-color 1s, color 1.5s;
          -webkit-transition: background-color 1s, color 1.5s;
        }
      }
    }
}

#number-graph {
  grid-column: 2 / span 1;
  grid-row: 10 / span 1;
}



/* Table Result */

.home .container-table {
  display: flex;
  align-items: start;
  justify-content: center;
  margin-top: 3em;
  top: 7em;
  left: 42em;
  width: 70em;
  height: 34em;
  z-index: 0;
  overflow: auto;
  #table-result {
    font-family: sans-serif;
    border-collapse: collapse;
    width: auto;
    font-size: 0.7em;
    margin: 0 0 25px;
    min-width: 100px;
    border-radius: 5px 5px 0 0;
    overflow: hidden; 
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);

    thead tr {
      background-color: $table-color-one;
      text-align: center;
      font-weight: bold; 

      th {
        color: black;
      }
    }

    th, td {
      padding: 12px 1px;
      text-align: center;
    } 

    tbody tr:nth-of-type(even) {
      background-color: black;
    }

    tbody tr:last-of-type {
      border-bottom: 2px solid $table-color-one;
    }

    tbody tr {
      cursor: pointer;
      transition: color 0.4s;

      &:hover {
        td {
          color: rgba(200, 200, 200, 0.4);
          transition: color 0.4s;
        }
      }
    }

  }
}

.home::before {
  content: "";
  position: absolute;
  top: 7em;
  right: 5vw;
  width: 90vw;
  height: 80vh; 
  z-index: -800;
  border-radius: 1em;
  background-color: rgb(20, 20, 20);
}

/* Sort table */

.home .container-table #table-result { 
  th { 
    cursor: pointer;

  }
  .th-srt-asc, .th-srt-desc {
    background: rgba(0, 0, 0, 0.1);
  }

  .th-srt-asc::after {
    content: "\25b4";
    & {
      margin-left: 5px;
    }
  }

  .th-srt-desc::after {
    content: "\25be";
    & {
      margin-left: 5px;
    }
  }

}

/* Exit button */

.home .container {
  .exit {
    position: absolute;
    top: 0.8em;
    right: 0.3em;
    width: 1.8em;
    height: 2em;
    .line-1 {
      position: absolute;
      top: 0.8em;
      right: 0.3em;
      width: 2em;
      height: 0.2em;
      transform: rotate(-45deg);
      background-color: white;
      transition: 1s transform;
    }
    &:hover .line-1 {
      transition: 1s transform;
      transform: rotate(-20deg);
    }
    .line-2 {
      position: absolute;
      top: 0.8em;
      right: 0.3em;
      width: 2em;
      height: 0.2em;
      transform: rotate(45deg);
      background-color: white;
      transition: 1s transform;
    }
    &:hover .line-2 {
      transition: 1s transform;
      transform: rotate(20deg);
    }
  }
}


/* Tabs style */

.ui-results .container-tabs {
  position: fixed;
  display: grid;
  grid-template-columns: repeat(5, 4.5em);
  grid-template-rows: 2em;
  row-gap: 0.5em;
  top: 5em;
  left: 6em;
    
  button {
    margin: 0 auto;
    color: white;
    font-weight: bold;
    transition: background-color 1s, color 1s;
    -webkit-transition: background-color 1s, color 1s;
    background-color: rgb(20, 20, 20);
    border: none;
    border-radius: 0.5em 0.5em 0 0;
    width: 6em;
    height: 3em;
    cursor: pointer;
    font-size: 0.7em;
    &:hover {
      background-color: white;
      color: $background-color;
      transition: background-color 1s, color 1.5s;
      -webkit-transition: background-color 1s, color 1.5s;
    }

  }
}

/* Info style */

.home .container .cform .container-information {
  .container-symbols-left {
    width: 2em;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(9, 3em);
    position: absolute;
    top: 6em;
    left: 1em;
    svg {
      cursor: pointer;
    }
  }
  .container-symbols-right {
    width: 2em;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(10, 3em);
    position: absolute;
    top: 3em;
    left: 19em;
    svg {
      cursor: pointer;
    }
    .symbol-graph {
      grid-row: 10 / span 1;
    }
  }

  ul {
    position: fixed;
    top: 5em;

    li {
      display: none;
      width: 15em;
      color: black;
      margin-bottom: 1em;
      background: orange;
      padding: 0.5em;
      text-align: center;
      border-radius: 0.4em;
    }
  }
}


@media only screen and (min-width: 1200px) {
  body {
    overflow-y: hidden;
  }

  .home .button {
    display: none;
  }

  .home {
    display: grid;
    grid-template-columns: 30vw 70vw;
    width: 100vw;
    height: 100vh;
    .container {
      display: grid;
      justify-content: center;
      margin: 0 auto;
      width: 100%;

      .cform {
        position: static;
        margin-left: -4em;
        left: 0em;
        background-color: unset;
      }

      .exit {
        display: none;
      }

      .form-inputs {
        display: grid;
        grid-template-columns: repeat(2, 10em);
        grid-template-rows: repeat(10, 2em);
        column-gap: 20px;
        width: 10em;
        input[type=number], input[type=text] {
          border-color: white; 
          background-color: rgba(20, 20, 20, 0.8);
          color: white;
          &:focus {
            background-color: rgba(87, 86, 86, 0.8);
            border-color: $background-color;
          }
        }

        input[type=submit] {
          bottom: 5.4em;
          left: 23.2em;
          margin: 4em auto 0;
          color: $background-color;
          background-color: white;
          width: 7em;
          height: 3.5em;
          &:hover {
            background-color: $background-color;
            color: white;
          }
        }
      }
    }
  }

  .home .container-table {
    width: 80em;
    display: grid;
    justify-content: center;
    margin: 2em 0 0 -2em;
    height: 35em;

    #table-result {
      width: 70%;
      font-size: 0.9em;

      th, td {
        padding: 12px 15px;
      }
    }
  }

  .home::before {
    width: 65vw;
    right: 2em;
  }

  .ui-results {
    display: grid;
    align-content: start;
    justify-content: center;

    .container-mapGraph {
      margin-top: -6em;
    }
    .container-efficiency {
      display: none;
      padding-top: 3em;
      margin: auto;
      width: 60vw;
      height: 75vh;
    }
    .container-load {
      display: none;
      padding-top: 3em;
      margin: auto;
      width: 60vw;
      height: 75vh;
    }
    .container-info {
      display: none;
      padding-top: 3em;
      margin: auto;
      width: 60vw;
      height: 75vh;

    }
  }

  .ui-results .container-tabs {
    grid-template-columns: repeat(5, 5em);
    grid-gap: 0.2em;
    top: 3.5em;
    left: 35vw;
    font-size: 1.2em;

    button {
      width: 7em;
      height: 3.5em;
    }
  }

  .home .container .cform .container-information {
    .container-symbols-left {
      top: 12em;
      left: unset;
    }
    .container-symbols-right {
      top: 9em;
      left: 29em;
    }
  }

}

/* Tabs configuration */

.ui-results {
  .container-table {
    display: none;
  }
  .container-mapGraph {
    display: none;
    padding-top: 3em;
    margin: auto;
    width: 60vw;
    height: 75vh;
  }
  .container-efficiency {
    display: none;
    padding-top: 3em;
    margin: auto;
    width: 60vw;
    height: 75vh;
  }
  .container-load {
    display: none;
    padding-top: 3em;
    margin: auto;
    width: 60vw;
    height: 75vh;
  }
  .container-info {
    display: none;
    padding-top: 3em;
    margin: auto;
    width: 60vw;
    height: 75vh;

  }

  .show {
    display: flex;
  }

} 

/* Principal Page */
.principal .container {
  height: 80vh;
  width: 100vw;
  display: grid;
  align-items: center;
  h1 {
    margin: 0 auto 4em;
    text-align: center;
    width: 50%;
    font-size: 5em;
  }
}
